.veh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.head{
    padding-top: 30px;
    color: blanchedalmond;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
}

.main{
    background-color:  black;
    opacity: 0.9;
}